Handle ErrorMsg on unsupported CMP protocol version

The following from RFC 4210, Section 7 is not explicitly handled yet. Client behaviour is so far unspecified.

3110    If a client gets back an ErrorMsgContent with the unsupportedVersion          
3111    bit set and a version it supports, then it MAY retry the request with         
3112    that version.  

Only a feature request as it might not be a relevant issue for a long time to come.

Reported by: mpeylo

Original Ticket: [cmpforopenssl/feature-requests/21](https://sourceforge.net/p/cmpforopenssl/feature-requests/21)