Requesting certificate from ejbca

Hello,

This is not really an issue, just a request for more information on how to configure ejbca (if not correct) and how to request a certificate / renew a certificate.

After succesfull compilation using the instructions in #116 I could send out a CMP request to EJBCA and it got handled by EJBCA. Currently it is reporting the error: 'Could not extract password from CRMF request using the RegTokenPwd authentication module'

The authentication module is configured with: 'HMAC' and 'RegTokenPwd'. Possible options here are: 'HMAC', 'EndEntityCertificate', 'RegTokenPwd' and 'DnPartPwd' (with a choice which part of the DN to use).

I have a cnf created with the options to request a certificate:
```ini
[cmp]
# General information
server=server
path=/ejbca/publicweb/cmp/cmp-alias

# Server authentication
srvcert=/usr/src/cmpforopenssl/cmpossl/ca.crt

# Client authentication
ref=username
secret=pass:random-password

# Generic message options
cmd=ir

# Certificate request options
newkey=/usr/src/cmpforopenssl/cmpossl/client.key
subject=/CN=username/UID=username
days=1
certout=/usr/src/cmpforopenssl/cmpossl/client.crt
```

The client key is generated using:
```bash
openssl ecparam -name secp521r1 -genkey -out client.key
```

And the command to do the actual request is:
```bash
LD_LIBRARY_PATH=. ./apps/openssl cmp -config ./cmp.cnf
```

I guess I am missing a parameter or there is no support for 'RegTokenPwd' and I need to use the 'DnPartPwd' option in EJBCA. Is there some documentation besides the manpage? Examples?

Regards, Matthijs

Ok, after enabling the DnPartPwd and the part to use set to UID it works, it required some changes to the 'subject' parameter too. But then I could get a certificate from the CA.

The question still is: is 'RegTokenPwd' as documented here: https://www.ejbca.org/docs/adminguide.html#CMP (Look for RegTokenPwd) supported?

In principle you can set regToken to the Controls of a CRMF CertRequest, but it is not (yet) part of the OpenSSL CMP application. The API to set this to CRMF is documented in doc/man3/CRMF_CERTREQMSG_set1_regCtrl.pod

> int CRMF_CERTREQMSG_set1_regCtrl_regToken(CRMF_CERTREQMSG *msg,                 
>                                            ASN1_UTF8STRING *tok);   
>
> CRMF_CERTREQMSG_set1_regCtrl_regToken() sets the regToken control in the given   
> <msg> using the given B<tok> as value. See RFC4211, section 6.1. 

If you really need it, it shouldn't be too had to inject to the right place.

It might have been needed in the (far) past to set the regToken in the generalInfo field of the CMP PKIHeader. Eventually there was related code, but as that is not really standardized and appeared not to be used in practice we removed the function from the library some months ago.

If there's a related Feature Request, we might take that in eventually - but it should be confirmed that it really works.

Generally, it will work best if you use authentication with HMAC or Certificate.

Thank you for the information. I have three use cases at this moment. Maybe more in the future.

1.) First time to request a certificate. At that point I need a username/password for authentication to get the first certificate. (HMAC authentication)
2.) Renewing a certificate, at this point I can use the private key / certificate for authentication. (Certificate authentication)
3.) Key update, I can use the same process, use the old key for authentication (Certificate authentication)

I haven't tried 2 and 3 yet, but will keep you informed on my progress.

To complete the picture, we use bareos for the backups and all communication is done using certificates. It is currently a burden to manage all the individual certifcates and to renew them every time it comes close to the expiration date.

Regards, Matthijs

Good that you use a `.cnf`  file for the settings. Here's a hint on using it conveniently for several use cases:
Put the declarations that are the same for all/most of them in the `[default]` section;and the specific ones in extra sections like `[first]`, `[renew]`, `[rekey]`, etc. In these you can even override the general decls in `[default]`.

What the CMP `kur` command is concerned, it is apparently a bit tricky to configure EJBCA for it; we had to set up a specific alias for getting the client authentication right.

You are welcome.

The two CMP request formats IR and CR are basically the same and indeed one can use them interchangeably. IR ist meant to be used initially (when for instance the client does not have a certificate for itself and/or of any trusted root). In this 

You are welcome.

The two CMP request formats IR and CR are basically the same and indeed one can use them interchangeably. IR ist meant to be used initially when for instance the client does not have a certificate for itself and/or of any trusted root, where typically PBM (password-based HMAC) and the CaPubs field is used.

Regarding the three options that EJBCA offers for password-based client authentication:

The two password extractors  'RegTokenPwd' and 'DnPartPwd' are inherently insecure because with them the password is transferred in the clear (unless for instance TLS is used underneath).

So it is perferrable to use HMAC (PBM) where the password is used to generate a MAC but is not sent itself. 

The CMPforOpenSSL CLI supports this via the `-secret` option, where the actual value of the password can be given directly as in `pass:mypassword` or by various other means, as usual for the `openssl` application. BTW, in the next release of CMPforOpenSSL the related option `-ref` will be optional. EJBCA anyway ignores the value of the senderKID field that can be set using this option.

Ok, that make sense, I already disabled the 'RegTokenPwd' and 'DnPartPwd' on the EJBCA side.

I also confirm that IR and CR are working correctly. EJBCA correctly issues a certificate to the client.
Hereby the ini file for anyone who is interested to get this working:
```ini
# Default options
[default]
# General information
server=ebjcaserver.example.com
path=/ejbca/publicweb/cmp/alias

# Server authentication
srvcert=/usr/src/cmpforopenssl/cmpossl/ca.crt

# Certificate request options
certout=/usr/src/cmpforopenssl/cmpossl/client.crt
days=1

# Initial request options
[first]
# Client authentication
ref=username
secret=pass:random-password

# Generic message options
cmd=ir

# Certificate request options
newkey=/usr/src/cmpforopenssl/cmpossl/client.key
subject=/CN=username

# Renew certificate options
[renew]
# Client authentication
key=/usr/src/cmpforopenssl/cmpossl/client.key
cert=/usr/src/cmpforopenssl/cmpossl/client.crt

# Generic message options
cmd=cr
```

On the EJBCA side, create an alias in the webinterface and set:
- CMP Operational Mode: 'Client mode'
- CMP Response Protection: 'signature'
- CMP Authentication Module: 'HMAC' and 'EndEntityCertificate'
- Extract Username Component: 'CN'
- Default CA: 'Select your CA'
- Automatic Key Update: 'Allow'
- Certificate Renewal with Same Keys: 'Allow'
- Trusted Certificates Path: ''

I am now working on the rekey part, this seems a bit harder to get working. I'll let you know my progress on this.

Thanks for sharing your so-far configuration.
So you use CR also for cert update purposes, which is possible and avoids the EJBCa configuration issues on KUR.
You can use CR also for key update, at least it's the easiest way of getting it working.

Ok, I got the KUR also working. Not that hard.

First of all, you need to setup EJBCA correctly, the CMP alias is correct as described in an earlier reply. But you need to set the option: 'Batch generation (clear text pwd storage)' in the End Entity Profile. After that you can simply rekey using (full ini file again):
```ini
# Default options
[default]
# General information
server=ejbcaserver.example.com
path=/ejbca/publicweb/cmp/alias

# Server authentication
srvcert=/usr/src/cmpforopenssl/cmpossl/ca.crt

# Certificate request options
certout=/usr/src/cmpforopenssl/cmpossl/client.crt
days=1

# Initial request options
[first]
# Client authentication
ref=username
secret=pass:random-password

# Generic message options
cmd=ir

# Certificate request options
newkey=/usr/src/cmpforopenssl/cmpossl/client.key
subject=/CN=cmp-test-dev.cacholong.nl

# Renew certificate options
[renew]
# Client authentication
key=/usr/src/cmpforopenssl/cmpossl/client.key
cert=/usr/src/cmpforopenssl/cmpossl/client.crt

# Generic message options
cmd=cr

[rekey]
# Client authentication
key=/usr/src/cmpforopenssl/cmpossl/client.key
cert=/usr/src/cmpforopenssl/cmpossl/client.crt

# Generic message options
cmd=kur

# Certificate request options
newkey=/usr/src/cmpforopenssl/cmpossl/client-new.key
certout=/usr/src/cmpforopenssl/cmpossl/client-new.crt
```

Setting a ref / secret is not allowed for a KUR in EJBCA, you will get an error like this:
10:58:42,540 INFO  [org.ejbca.core.protocol.cmp.CrmfKeyUpdateHandler] (http--0.0.0.0-8080-1) no such algorithm: 1.2.840.113533.7.66.13 for provider BC

Which means that HMAC authentication is not allowed for KUR.

Regards, Matthijs

KUR requires signature protection using the certificate to be updated. This requires an Client mode alias on EJBCA.

Ok, one last question. With the above I tried to use the ocsp check too. But that doesn't seem to do anything. I'm using the following command:
```bash
LD_LIBRARY_PATH=. ./apps/openssl cmp -config ./cmp.cnf -section renew -ocsp_check_all -ocsp_use_aia
```

I have confirmed that the 'Authority Information Access' is available in the certificate.

Is this something not yet implemented?

If there are no complaints, the OCSP-based checks apparently succeeded :)
You might tell this from the enrollment taking longer due to fetching the OCSP responses.
To be sure, you can configure your build with `--debug` and then will get some intermediate status output on OCSP. 

BTW, if you pull the latest `cmp` branch, the `-ref` option is now not always required when using `-secret` (if will be needed though if there was no `-subject` and no `-cert`).

Glad you found an easy way of using KUR with EJBCA. Then better use it also for the renew case.
You could further optimize our config file to:

```
# Default options
[default]
# General information
server=ejbcaserver.example.com
path=/ejbca/publicweb/cmp/alias

# Server authentication
srvcert=/usr/src/cmpforopenssl/cmpossl/ca.crt

# Client authentication
# key and cert will not be used for [first]
key=/usr/src/cmpforopenssl/cmpossl/client.key
cert=/usr/src/cmpforopenssl/cmpossl/client.crt

# Certificate request options
certout=/usr/src/cmpforopenssl/cmpossl/client.crt
days=1


# Initial request options
[first]
# Client authentication
#ref=username
secret=pass:random-password # this supersedes -cert and -key from [default]

# Generic message options
cmd=ir

# Certificate request options
newkey=$default::key
subject=/CN=cmp-test-dev.cacholong.nl


# Renew certificate options
[renew]
# Generic message options
cmd=kur


# Re-key certificate options
[rekey]
# Generic message options
cmd=kur

# Certificate request options
newkey=/usr/src/cmpforopenssl/cmpossl/client-new.key
certout=/usr/src/cmpforopenssl/cmpossl/client-new.crt
```

Thanks for the optimization, that simplifies it considerably.

Regarding the OCSP requests, I do not see any request made to the EJBCA server. The logs on the EJBCA server do not indicate any incoming ocsp request. I also tried it with the option -ocsp_url but that didn't work out too.

I've build the project with:
```bash
./config -t --debug --strict-warnings
/usr/bin/perl ./Configure linux-x86_64 --debug --strict-warnings -Wa,--noexecstack
make
```

After that I tried to renew the certificate, with the output:
```bash
$ LD_LIBRARY_PATH=. ./apps/openssl cmp -config ./cmp.cnf -section renew -ocsp_check_all -ocsp_use_aia
Using OpenSSL configuration file './cmp.cnf'
info: using default server port '8080'
Received 1 enrolled certificate, saving to file '/usr/src/cmpforopenssl/cmpossl/client.crt'
```

How can I get the debug output?

You are welcome. Sorry for the delay answering your most recent response.

For OpenSSL configuration, use either `./config` (which is a simplified front-end) or the more direct/flexible/low-level `./Configure`.
The parameters you gave look good, except that the first line with the dry run using `-t` is not needed.

You should get debug output on OCSP automatically when` --debug` is configured.
This should also enable a bunch of extra testing and debugging CLI options like `-reqout` - do you see these invoking` ./apps/openssl cmp -help` ?

I don't understand why OCSP is apparently not active in your case.
Can you use a debugger and check using a breakpoint if `check_revocation_ocsp_crls()` of `cmp.c` is called after all?
If you do not use an IDE like Eclipse, you could do this directly with `gdb`:
```
$ LD_LIBRARY_PATH=. gdb --args ./apps/openssl cmp -config ./cmp.cnf -section renew -ocsp_check_all -ocsp_use_aia
break check_revocation_ocsp_crls
run
```