Check CMP message version and handle cmp1999 messages

The following of RFC 4210, section 7.1.1 is not handled - actually the version (hdr->pvno) of incoming messages is nowhere checked.

3123    If, after sending a cmp2000 message, a client receives an                     
3124    ErrorMsgContent with a version of cmp1999, then it MUST abort the             
3125    current transaction.  It MAY subsequently retry the transaction using         
3126    version cmp1999 messages.                                                  
3127                                                                                  
3128    If a client receives a non-error PKIMessage with a version of                 
3129    cmp1999, then it MAY decide to continue the transaction (if the               
3130    transaction hasn't finished) using RFC 2510 semantics.  If it does            
3131    not choose to do so and the transaction is not finished, then it MUST         
3132    abort the transaction and send an ErrorMsgContent with a version of           
3133    cmp1999.                                                                      

... we would NOT decide to continue the transaction as we haven't implemented RFC2510. So we would send ErrormsgContent.

Reported by: mpeylo

Original Ticket: [cmpforopenssl/bugs/43](https://sourceforge.net/p/cmpforopenssl/bugs/43)

Since 510a082e87c39bedf4f17376d135ab876f6f433b, OSSL_CMP_MSG_check_received() fails if incoming message has pvno !=OSSL_CMP_PVNO - but ErrorMsgContent is **not** sent.